/* Corpo Geral */
*{
	margin:0px;
	border:0px;
	padding:0px;
}
body{
	background-color:rgb(242,247,250);
}
/* Cabeçalho */



/* Menu Principal */


/* Conteúdo Principal */
input{
	display: block;
	height: 20px;
	width: 400px;
	margin: 15px;
	border-radius: 30px;
	border: 1px solid black;
	font-size: 15px;
	outline: 0px;
	padding: 10px;
	background-color: rgba(255,255,255,0.01);
}
div#conteudo{
	text-align: center;
	width: 420px;
	margin: 10px auto 0px auto;
	padding: 20px 20px;
}
input[type=submit]{
	padding: 10px;
	height: 50px;
	width: 420px;
	background-color: dimgray;
	cursor: pointer;
}

/* Conteúdo Secundário */




/* Rodapé */
